* {
    user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(211, 198, 158, 0.897);
    place-items: center;
}

html {
    scroll-behavior: smooth;  
}

.container {
    border-bottom: 2px solid maroon;
}

.home {
    place-items: center;
    /*min-height: 100vh;*/
}

