body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    background: linear-gradient(to right, #8CB8DC, #8CB8DC);
    color: #FFFEFE;
}


.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background: #8CB8DC;
    border: 2px solid #5cadf0;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}


.back-btn:hover {
    background: #0bacf7;
}


.image {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 20px;
    border: 3px solid #A6C4D9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 4.3s, box-shadow 4.3s;
}

header {
    text-align: center;
    padding: 40px;
    color: #6B93A5;
}

header h1 {
    font-size: 5rem;
}


section {
    background: #6B93A5;
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

p {
    text-align: justify;
}

h2 {
    color: #25596D;
}


.greeting {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.skill {
    margin-bottom: 15px;
}

.bar {
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.bar div {
    height: 15px;
    border-radius: 20px;
}


.html {
    width: 45%;
    background: #90A9C2;
}

.css {
    width: 50%;
    background: #B197C3;
}

.js {
    width: 30%;
    background: #CFB886;
}

.project {
    background: #75A0D2;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.3s;
}

.project-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.project:hover {
    transform: scale(1.03);
}

.project img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 15px auto;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-btn {
    display: inline-block;
    width: 140px;
    padding: 12px;
    margin: 10px;
    text-align: center;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}


.telegram {
    background: #61CCEA;
}

.facebook {
    background: #1877F2;
}

.instagram {
    background: linear-gradient(45deg, #C2B78C, #ee2a7b, #6228d7);
}


.social-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}


footer {
    text-align: center;
    padding: 20px;
    color: white;
}

/*this is the field for the crystal particles po*/
i {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1px; /* Bahagyang bilugan */
    pointer-events: none;
    transform: rotate(45deg); /* shape niya kaya parang diamond */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* light for glow*/

    /* para maing magical ang animation effect lng yaa */
    filter: drop-shadow(0 0 4px #00e5ff) drop-shadow(0 0 8px #ffffff);

    /* tapos ang animation para mawara siya after san 1s */
    animation: crystalGlow 1s linear forwards;
}

/* amo yaa ang animation ma shine tapos ma fadeout the ma fall */
@keyframes crystalGlow {
    0% {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }

    10% {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }

    30% {
        /* filter yaa parang nag babago ang glow para astig */
        filter: drop-shadow(0 0 10px #00e5ff) drop-shadow(0 0 15px #ffffff);
    }

    100% {
        opacity: 0;
        /* mafall muna dito tapos maikot siya bago mawara */
        transform: rotate(180deg) translateY(50px) scale(0.2);
    }
}